[submodule "formationpkg"]
	path = formationpkg
	url = git@github.com:akash1306/formationpkg.git
[submodule "flocking_behavior"]
	path = flocking_behavior
	url = git@github.com:tiagopn/flocking_behavior.git
[submodule "uvdar_core"]
	path = uvdar_core
	url = git@github.com:ctu-mrs/uvdar_core.git
[submodule "uvdar_gazebo_plugin"]
	path = uvdar_gazebo_plugin
	url = git@github.com:ctu-mrs/uvdar_gazebo_plugin.git
